{% extends "base.html" %}

{% block lab %}Авторизация{% endblock %}

{% block main %}
    <h2>Вход</h2>
    <form method="POST">
        <label>Логин: <input type="text" name="login" required></label><br>
        <label>Пароль: <input type="password" name="password" required></label><br>
        <button type="submit">Войти</button>
    </form>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
    <a href="{{ url_for('cinema.register') }}">Нет аккаунта? Регистрация</a>
{% endblock %}
